<!DOCTYPE html>
<html>
	<%- include("./partials/head.ejs") %>
<body class="form-v4">
	
	<div class="page-content">
		<div class="form-v4-content">



			<div class="form-left">
				<h2>Welcome to Cowin Slot Booking Helper</h2>
				<p class="text-1">Find your nearest vaccination center  slots availability</p>
				

				<div class="form-left-last">
					<input type="submit" name="account" class="account" value="Know More">
				</div>
				<div class="form-left-last">
					<br><br><br>
					<%- include("./partials/footer.ejs")%>
				</div>
			</div>



			<form class="form-detail"  method="post" id="myform">
				<h2><center>Signup</center></h2>
				
				<div class="form-row">
						<label for="Name">Enter Your Name</label>
						<input type="text" name="name" id="name" class="input-text">
				</div>

				

				<div class="form-row">
					<label for="Mobile">Phone Number</label>
					<input type="text" name="phone" id="phone" class="input-text">
				</div>




				<div class="form-row">
					<label for="your_email">Your Email</label>
					<input type="text" name="email" id="email" class="input-text" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
				</div>

				<div class="form-row">
					<label for="Pin Code">Pin Code</label>
					<input type="text" name="pinCode" id="pinCode" class="input-text">
				</div>


				<center><input type="submit" name="register" class="register" value="Register"></center>
			

				</div>
				
			</form>
		</div>
		
	</div>

</body>
</html>


